.userPosts {
  display: flex;
  flex-direction: column;
  margin: 50px;
  text-align: center;
}
.post {
  background-color: cornflowerblue;
  border: 1px solid blue;
  color: white;
  margin: 20px;
  width: 80%;
}

.userPost {
  align-items: center;
  display: flex;
}
.btnExpand {
  font-size: 20px;
  padding: 4px;
}
.btnUser {
  align-self: flex-end;
  font-size: 20px;
  margin-right: 300px;
  padding: 6px;
}
