.App {
  margin: 20px;
}
.spinner {
  margin: 30px;
  font: 30px bold;
}
/* MODAL STYLES */
.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  height: 500px;
  left: 10%;
  overflow: scroll;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 12vh;
  width: 72rem;
  z-index: 10;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.comment {
  background-color: cornflowerblue;
  border: 1px solid blue;
  color: white;
  margin: 5px;
  padding: 5px;
}
.comment-heading{
  background-color: rgb(84, 84, 179);
  color: white;
  font-size: x-large;
  padding: 10px;
}
